<html>
  <body>
    <div id="content">
      Only this will be rendered!!
    </div>
   
    <nav id="bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Social Project</a>
          </div>
          <div social:connected="twitter">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">twitter<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="./twitter/profile.html" th:href="@{/twitter/profile}">profile</a></li>
				<li><a href="./twitter/friends.html" th:href="@{/twitter/friends}">Friends</a></li>
				<li><a href="./twitter/friends.html" th:href="@{/twitter/followers}">Followers</a></li>
				<li><a href="./twitter/trends.html" th:href="@{/twitter/trends}">Trends</a></li>
                </ul>
              </li>
            </ul>
          </div>
      
            <div sec:authorize="isAuthenticated()">
             <ul  class="nav navbar-nav navbar-right">
              <li class="label" style="padding-top:12px">Welcome, <span th:text="${#authentication.name}">first-name</span>!</li>
              <li><form id="signout" th:action="@{/signout}" method="post" >
              	<button class="btn btn-md btn-link" type="submit">signout</button>
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" /></form></li>
            </ul>
          </div>
         
           <div sec:authorize="isAnonymous()" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
              <li><a href="./signin.html" th:href="@{/signin}">Sign in</a></li>
              <li><a href="./signup.html" th:href="@{/signup}">Register</a></li>
            </ul>
          </div>
        </div>
      </nav>
  </body>
</html>