<html>
  <body>
    <div id="content">
      Only this will be rendered!!
    </div>
   
    <nav id="bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Social Project</a>
          </div>
          <div th:if="${twitterProfile}" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">profile</a></li>
                  <li><a href="#">timeline</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
          
          <div th:unless="${twitterProfile}"  class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
              <li><a href="./register.html" th:href="@{/user/register}">Register</a></li>
              <li><a href="./login.html" th:href="@{/signup}">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
  </body>
</html>